
    body {
      background-color: #1c1f2a;
      color: white;
      font-family: Arial, sans-serif;
    }
    .intro, .test-section {
      width: 70vw;
      margin: 50px auto;
      padding: 20px;
      border-radius: 15px;
      background: linear-gradient(to bottom right, #3a3a52, #28283b);
      box-shadow: 0 0 15px rgba(255,255,255,0.1);
    }
    h1, h2 {
      text-align: center;
    }
    #startBtn {
      display: none;
      margin: 20px auto;
      padding: 10px 25px;
      background-color: #6c5ce7;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
    }
    #startBtn:hover {
      background-color: #a29bfe;
    }
    #video {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 166px;
      height: 166px;
      border-radius: 50%;
      border: 2px solid white;
    }
    .question {
      margin-bottom: 20px;
      background: #2c2c3e;
      padding: 10px;
      border-radius: 10px;
    }
    #altbx{
        position: fixed;
        top: 30%;
        left: 0%;
        border: 5px solid green;
        border-radius: 10%;
        height: 250px;
        width: 144px;
        /* background-color: azure; */

    }
